 [Unit]
 Description=MQTT Bridge Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/sh -c "cd /home/$USER/workspace/GreenSense/Index/apps/BridgeArduinoSerialToMqttSplitCsv/ && (sh run.sh --DeviceName=Monitor1 --SerialPort=/dev/ttyUSB0 --SubscribeTopics=D,W,V > svc/Monitor1Log.txt)"

 [Install]
 WantedBy=multi-user.target
