<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appSettings>
    	<add key="Host" value="localhost" />
    	<add key="MqttPort" value="1883" />
        <add key="UserId" value="user" />
        <add key="Password" value="123456" />
        <add key="DeviceName" value="Device1" />
        <add key="UseTopicPrefix" value="false" />
        <add key="DividerSplitCharacter" value=";" />
        <add key="EqualsSplitCharacter" value=":" />
        <add key="IncomingLinePrefix" value="D;" />
        <add key="SubscribeTopics" value="D,W" />
        <add key="SerialPort" value="" />
        <add key="SerialBaudRate" value="9600" />
    </appSettings>
</configuration>