<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appSettings>
        <add key="Host" value="mqtt.dioty.co" />
        <add key="UserId" value="user@email.com" />
        <add key="Password" value="123456" />
        <add key="DeviceName" value="device1" />
        <add key="UseTopicPrefix" value="true" />
        <add key="DividerSplitCharacter" value=";" />
        <add key="EqualsSplitCharacter" value=":" />
        <add key="IncomingLinePrefix" value="D;" />
        <add key="SerialPort" value="" /><!-- Leave empty to auto-detect -->
        <add key="SerialBaudRate" value="9600" />
    </appSettings>
</configuration>
